.initial-spinner {
    width: 70px;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 35px);
}
.initial-spinner>div{
    width:20px;
    height:20px;
    background-color:#8799ab;
    border-radius:100%;
    display:inline-block;
    -webkit-animation:sk-bouncedelay 1.4s infinite ease-in-out both;
    animation:sk-bouncedelay 1.4s infinite ease-in-out both
}
.initial-spinner .bounce1{
    -webkit-animation-delay:-.32s;
    animation-delay:-.32s
}
.initial-spinner .bounce2{
    -webkit-animation-delay:-.16s;
    animation-delay:-.16s
}
@-webkit-keyframes sk-bouncedelay{
    0%,80%,to{
        -webkit-transform:scale(0)
    }
    40%{
        -webkit-transform:scale(1)
    }
}
@keyframes sk-bouncedelay{
    0%,80%,to{
        transform:scale(0)
    }
    40%{
        transform:scale(1)
    }
}

.initial-spinner .bounce1{
    -webkit-animation-delay:-.32s;
    animation-delay:-.32s
}
.initial-spinner .bounce2{
    -webkit-animation-delay:-.16s;
    animation-delay:-.16s
}
@-webkit-keyframes sk-bouncedelay{
    0%,80%,to{
        -webkit-transform:scale(0)
    }
    40%{
        -webkit-transform:scale(1)
    }
}
@keyframes sk-bouncedelay{
    0%,80%,to{
        transform:scale(0)
    }
    40%{
        transform:scale(1)
    }
}
@-webkit-keyframes mapboxgl-spin{
    0%{
        -webkit-transform:rotate(0)
    }
    to{
        -webkit-transform:rotate(1turn)
    }
}
@keyframes mapboxgl-spin{
    0%{
        transform:rotate(0)
    }
    to{
        transform:rotate(1turn)
    }
}