.observationLabel {
    display: inline-block;
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
    top: 32px;
    left: 8px;
    background-color: #0096ff;
    color: #fff;
}

.header {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    background-color: #fff9;
    height: 30px;
    line-height: 24px;
    text-align: center;
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

/*.container {*/
/*    position: relative;*/
/*    border-bottom: none;*/
/*    border-top-left-radius: 5px;*/
/*    border-top-right-radius: 5px;*/
/*    height: calc(100%);*/
/*}*/

.container #map {
    height: 100% !important;
}

.observationForm {
    border-right: 1px solid blue !important;
    min-width: 100px !important;
    padding-left: 7px;
    padding-right: 10px !important;
}

.observationForm input {
    background-color: transparent !important;
    border: 0px solid !important;
    height: 20px !important;
    color: #CCC !important;
}

.observationForm input:focus-visible, .observationForm input:active {
    outline: none;
}

.observationForm div {
    font-size: 13px;
}

.react-date-picker__calendar {
    z-index: 999 !important;
}

.header .MuiInput-underline:before {
    border: none !important;
}

.react-date-picker__wrapper {
    border: none !important;
}

.MuiSelect-select.MuiSelect-select {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    min-width: 100px !important;
}

.Login-card-1 {
    max-width: max-content;
}

.MuiButton-outlinedPrimary {
    background-color: #42a95e !important;
    color: white !important;
}

.MuiMenu-list option {
    cursor: pointer;
}

@media (min-width: 0px) {
    .MuiBox-root.MuiBox-root-1 {
        display: block !important;
    }
}

.temp-class {
    display: flex;
}

.leaflet-sidebar-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.leaflet-sidebar-right .leaflet-sidebar-tabs {
    background: transparent;
    left: -2px;
    border-right: 2px solid white;
    margin-right: 20px;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.leaflet-sidebar.collapsed {
    width: 40px;
    height: 100%;
}

.leaflet-sidebar-right .leaflet-sidebar-content {
    /*width: 100%;*/
    height: 100%;
    left: 42px !important;
    right: 0 !important;
}


.searchbox {
    border: 1px solid rgb(10 10 10 / 26%);
    border-radius: 5px;
    padding: 8px 12px;
    display: block;
    width: 89% !important;
    height: 3vh !important;
}

.leaflet-control-layers-expanded {
    width: max-content !important;
}



.MuiSlider-root {
    padding: 2px 0 !important;
}

.cloudCoverageClass {
    margin-right: 5px;
    margin-left: 5px;
}

.sidebarContentBody {
    height: calc(100% - 88px);
}

.MuiSlider-thumb > span {
    display: none;
    top: -5px !important;
    transform: rotate(180deg) !important;
}

.MuiSlider-thumb > span > span > span {
    transform: rotate(225deg) !important;
}

.MuiSlider-thumb.MuiSlider-active > span {
    display: block;
}

.leaflet-sidebar-tabs > ul > li > a {
    color: blue !important;
}

/*loader*/
.lds-dual-ring {
    z-index: 999;
    display: none;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 50px;
    height: 50px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*loader*/

.mobile-navigation {
    margin-bottom: -200px;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    max-height: 300px;
    background: white;
    z-index: 999;
    display: flex;
    flex-flow: column;
    transition: 1s;
}

.observationForm-mobile {
    height: 40px !important;
    padding: 10px !important;
    display: flex !important;
    flex-direction: unset !important;
    align-items: center;
}

.observationForm-mobile > label {
    padding: 8px 12px;
    min-width: 150px;
}

.observationForm-mobile > .MuiInput-formControl {
    margin: 0 !important;
}

@media (min-width: 768px) {
    .mobile-navigation {
        display: none;
    }
}

@media (max-width: 768px) {
    .header {
        display: none;
    }

    #sidebar {
        border: none !important;
        top: 0px !important;
        height: 100% !important;
    }


    .MuiSlider-thumb > span {
        display: none;
        top: -34px !important;
        transform: scale(1) translateY(-10px) !important;
    }

    .MuiSlider-thumb > span > span > span {
        transform: rotate(45deg) !important;
    }
}

.mob-nav-tool {
    display: flex;
    justify-content: center;
}

.mob-nav-tool > .toUp {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-top: -19px;
    background: white;
    padding: 5px;
    border-radius: 50%;
}

.mob-nav-tool > .toDown {
    display: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-top: -19px;
    background: white;
    padding: 5px;
    border-radius: 50%;
}

.leaflet-left {
    left: 2px !important;
}

.toUp>svg{
    margin-top: -9px;
}

.loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 10px auto;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#sidebar{
    transition: 1s;
}

#_sideBarZones .active{
    border: 2px solid red;
}




/*canvas{*/
/*    width: 800px !important;*/
/*    height: 180px !important;*/
/*}*/

.bottom{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
    width: 100%;
    height: auto;
}

.observation{
    position: relative;
    width: 100px;
    background-color: white;
    z-index: 99;
    display: grid;
}

